body {
    font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;
    background:whitesmoke;
}
h1,h2,h3,h4,h5,h6 {
    text-shadow:0px 1px 0px white;
}
hl {
    background-color:khaki;
}
pre xmp {
    background:#222;
    color:lightblue;
}
tt {
    padding:0.1em 0.2em;
    background:white;
    border:1px solid silver;
    border-radius:4px;
}


#content.entry {
    background:white;
}
#header {
    text-shadow:0px 1px 0px snow;
}
#content.list div.listing {
  background:white;
}
table#frag2text {
  font-size:12px;
  border:1px solid silver;
  border-collapse:collapse;
}
table#frag2text th, table#frag2text td {
  border:1px solid silver;
}

.feature {
    background:white;
}
.feature#pinned {
    background:lightyellow;
    border-top:1px solid white;
    border-right:1px solid yellow;
    border-bottom:1px solid yellow;
    border-left:1px solid white;
}
.help_eg {
    background:white;
    border:1px solid silver;
}
.help_display {
    border-left:4px solid #d3d3d3;
}
.inline_right {
    background:white;
    border:1px solid silver;
}
