body {
    font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;
    background:lightgray url('/static/noise.png');
}
h1,h2,h3,h4,h5,h6 {
    text-shadow:0px 1px 0px white;
}
hl {
    background-color:khaki;
}
pre xmp {
    background:#222;
    color:lightblue;
}
tt {
    padding:0.1em 0.2em;
    background:white;
    border:1px solid silver;
    border-radius:4px;
}


#content.entry {
    background:white;
    border:1px solid silver;
}
#header {
    text-shadow:0px 1px 0px snow;
}


.feature {
    border:1px solid #ccc;
    background:white;
}
.feature#pinned {
    background:lightyellow;
    border-top:1px solid white;
    border-right:1px solid yellow;
    border-bottom:1px solid yellow;
    border-left:1px solid white;
}
.help_eg {
    background:white;
    border:1px solid silver;
}
.help_display {
    border-left:4px solid #d3d3d3;
}
.inline_right {
    background:white;
    border:1px solid silver;
}
