/* style your entries here */

pre {
    overflow-y:hidden;
}


#content.entry {
    background:white;
    padding:0 1em 1em 1em;
    border:1px solid silver;
    border-radius:4px;
}
#playlist {
    clear:both;
}
#viewtube {
    float:right;
    margin-left:1em;
}
#entry_heading {
    width:80%;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    opacity:0.6;
    text-align:center;
}
#entry_heading a, #entry_heading a:visited {
    color:black;
}


.book {
    margin-left:1em;
    margin-bottom:1em;
    float:right;
    width:240px;
}
.inline_right img, .inline_left img {
    max-width:240px;
}
.inline_right {
    float:right;
    border:1px solid silver;
    border-radius:4px;
    background:white;
    padding:1em;
    margin:8px;
    margin-top:8px;
    width:240px;
    font-size:12px;
}
.inline_left {
    float:left;
    margin-right:8px;
    margin-bottom:8px;
    width:240px;
    font-size:12px;
}
