/* style your entries here */

a {
    text-dectoration:underline;
}

pre {
    overflow-y:hidden;
}
pre xmp {
    padding:1em;
}


#content.entry {
    padding:1em;
    padding-top:0;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}
#entry_heading {
    background:#e5e5e5;
    color:#666;
    width:80%;
    margin:auto;
    margin-top:1em;
    padding:1em;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
#playlist {
    clear:both;
}
#viewtube {
    float:right;
    margin-left:1em;
}


.book {
    margin-left:1em;
    margin-bottom:1em;
    float:right;
    width:240px;
}
.inline_right img, .inline_left img {
    max-width:240px;
}
.inline_right {
    float:right;
    border-radius:4px;
    padding:1em;
    margin:8px;
    margin-top:8px;
    width:240px;
    font-size:12px;
}
.inline_left {
    float:left;
    margin-right:8px;
    margin-bottom:8px;
    width:240px;
    font-size:12px;
}
