body { 
    margin:0;
    padding:0;
}
a { 
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
div { 
  padding:1em;
}

/* ===================== CONTENT ============================ */

#content {
    margin:0 auto;
    margin-left:2em;
    margin-right:3em;
}
#header, #footer {
    margin:0;
    padding:0;
    text-align:center;
}

/* ===================== ENTRY ============================== */

.entry_head {
    padding-top:0;
    padding-bottom:0;
}
.entry_head #title {
    font-size:x-large;
    font-weight:bold;
}
.entry_head #date {
    float:right;
}
.entry_body {
}
.entry_body .caption {
    text-align:left;
}
.entry_foot {
    padding:0;
}
#entry_date, #entry_tags {
    padding-top:0;
}
#entry_date {
    float:right;
}
#entry_tags i { 
    font-style:normal; 
}

/* ===================== STREAM ============================= */

#entries {
    margin:0;
    padding:0;
}
.entry.stream { 
    float:left;
    width:256px;
    font-size:small;
}
.entry.stream:hover {
    color:black;
}
.entry.stream .entry_head {
    padding:4px;
    font-weight:bold;
}
.entry.stream .entry_body {
    font-size:10px;
    padding:8px;
    height:180px;
    overflow:hidden;
}
.entry.stream .entry_foot {
    padding:4px;
}
.entry.stream #entry_date, .entry.stream #entry_tags {
    padding:0;
}
.entry.stream img { 
    margin:0 auto;
    width:100%;
    clear:both;
}
.entry.stream iframe {
    width:240px;
    height:180px;
}

/* ===================== CONTROLS =========================== */

#controls {
    position:fixed;
    top:0;
    right:0;
}
#next_prev {
    margin:0;
    padding:0;
    position:fixed;
    bottom:8px;
    right:8px;
    width:48px;
}
#next_prev .btn {
    float:left;
}
.btn {
  margin:8px 0;
  padding:0;
  width:24px;
  height:24px;
}
div.btn:hover {
    cursor:pointer;
}
#home.btn {
  background:url('/static/tanuki.png');
  background-size:100% auto;
}
#new.btn {
  background:url('/static/new.png');
  background-size:100% auto;
}
#edit.btn {
  background:url('/static/edit.png');
  background-size:100% auto;
}
#delete.btn {
  background:url('/static/delete.png');
  background-size:100% auto;
}
#grid.btn {
  background:url('/static/grid.png');
  background-size:100% auto;
}
#list.btn {
  background:url('/static/list.png');
  background-size:100% auto;
}
#tags.btn {
  background:url('/static/tag.png');
  background-size:100% auto;
}
#search.btn {
  background:url('/static/search.png');
  background-size:100% auto;
}
#next.btn {
  background:url('/static/next.png');
  background-size:100% auto;
}
#prev.btn {
  background:url('/static/prev.png');
  background-size:100% auto;
}

/* ===================== FORMS ============================== */

fieldset { 
  border:none; 
}
#edit_div {
  text-align:center;
}
form#edit { 
  margin-top:2em;
  padding:1em;
}
form#edit input#title {
  padding:8px;
  font-size:x-large; 
  width:80%;
}
form#edit textarea#entry_text { 
  padding:8px;
  width:80%;
  height:400px;
  font-family:Monaco;
  font-size:12px;
}
form#edit #date_box {
  font-size:12pt;
  text-align:center;
}
form#edit #tags_box {
    font-size:12pt;
}
#error_msg { 
    margin:2em; 
    font-size:x-large; 
}
#confirm_outer {
    text-align:center;
}
#confirm { 
    margin:3em 5em; 
    padding:2em;
    border-radius:10px;
}
#confirm b { font-size:xx-large; }
#confirm #details { margin:1em 25%; text-align:left; }
#confirm input { font-size:larger; }
#search input {
    font-size:16pt;
}

/* ===================== LIST =============================== */

#entry_list {
    margin:0;
    padding:0;
    margin-left:8em;
}
#entry_list i {
    margin-left:-8em;
    font-style:normal;
}

/* ===================== TAG_SET ============================ */

#tag_set {
    text-align:center;
    line-height:3em;
}
#tag_set span {
  padding:4px;
}
#tag_set i { 
    padding:4px;
    font-style:normal;
}
#tag_set span a { 
    padding:4px;
    text-decoration:none; 
}
#tag_set span:hover {
    border-radius:16px;
}

/* ===================== GRID =============================== */

#grid.frame {
  /* border:1px solid pink; */
  position:absolute;
  top:32px;
  left:0;
  margin-top:24px;
}
#grid div {
  float:left;
  margin:16px;
  margin-bottom:8px;
  margin-right:8px;
  padding:8px;
  padding-bottom:16px;
  width:200px;
  height:160px;
  overflow:hidden;
}
#grid div a {
  text-decoration:none;
}
#grid div b {
  margin-right:0.4em;
}
#grid div p {
  margin-top:0;
}
