/* div { border:1px solid magenta; } */
body { 
    margin:0;
    padding:0;
}
a { 
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
hl {
    background-color:khaki;
}
div { 
    padding:1em;
}

/* ===================== CONTENT ============================ */

#content {
    margin:0 auto;
}
#content.tags {
    width:80%;
}
#header, #footer {
    margin:0;
    padding:0;
    text-align:center;
}

.feature {
    /* border:1px solid red; */
    margin:0;
    padding:0;
    float:left;
    width:400px;
    height:200px;
    overflow:hidden;
}
.feature li {
    font-size:small;
}
.feature lh a {
    font-weight:bold;
}
#tag_blob {
}

/* ===================== ENTRY ============================== */

.entry {
    margin-right:64px;
    margin-bottom:64px;
    overflow:hidden;
}
.entry_head {
}
.entry_head #title {
    font-size:x-large;
    font-weight:bold;
}
.entry_head #date {
    float:right;
}
.entry_body {
    padding-top:0;
    padding-bottom:0;
}
.entry_body p:first-child { 
    margin-top:0;
    padding-top:0;
}
.entry_body p:last-child {
    margin-bottom:0;
    padding-bottom:0;
}
.entry_body img {
    max-width:100%;
}
.entry img.book {
    float:right;
    padding-left:1em;
    padding-bottom:1em;
}
.entry div.embed {
    border:1px solid silver;
    background:white;
    width:320px;
}
.entry_foot {
    margin:0;
    padding:0;
}
#entry_tags {
}
#entry_tags i { 
    font-style:normal; 
}

/* ===================== CONTROLS =========================== */

#controls {
    /* border:1px solid red; */
    position:fixed;
    top:12px;
    right:12px;
    width:24px;
    background:lightgray;
    border-radius:8px;
}
#controls img {
    padding-top:8px;
    width:24px;
    height:24px;
}
#controls a:first-child img { /* special for tanuki icon */
    /* border:1px solid green; */
    margin:0;
    padding:0;
    margin-top:-8px;
    margin-left:-8px;
    width:40px;
    height:40px;
}
#controls img {
    float:left;
}

#next_prev {
    margin:0;
    padding:0;
    position:fixed;
    bottom:8px;
    right:8px;
    width:48px;
}
#next_prev .btn {
    float:left;
}
.btn {
  margin:8px 0;
  padding:0;
  width:24px;
  height:24px;
}
div.btn:hover {
    cursor:pointer;
}

/* ===================== FORMS ============================== */

fieldset { 
  border:none; 
}
#edit_div {
  text-align:center;
}
form#edit { 
  margin-top:2em;
  padding:1em;
}
form#edit input#title {
  padding:8px;
  font-size:x-large; 
  width:80%;
}
form#edit textarea#entry_text { 
  padding:8px;
  width:80%;
  height:400px;
  font-family:Monaco;
  font-size:12px;
}
form#edit #date_box {
  font-size:12pt;
  text-align:center;
}
form#edit #tags_box {
    font-size:12pt;
}
#error_msg { 
    margin:2em; 
    font-size:x-large; 
}
#confirm_outer {
    text-align:center;
}
#confirm { 
    margin:3em 5em; 
    padding:2em;
    border-radius:10px;
}
#confirm b { font-size:xx-large; }
#confirm #details { margin:1em 25%; text-align:left; }
#confirm input { font-size:larger; }
#search input {
    font-size:16pt;
}

/* ===================== LIST =============================== */

#entry_list ul {
    list-style-type:none;
}
#entry_list li:before {
    content:"» ";
}
#entry_list lh div {
    margin:0;
    padding:0;
    margin-top:1em;
    font-weight:bold;
}

/* ===================== TAG_SET ============================ */

#tag_set {
    text-align:center;
    line-height:3em;
}
#tag_set span {
  padding:4px;
}
#tag_set i { 
    padding:4px;
    font-style:normal;
}
#tag_set span a { 
    padding:4px;
    text-decoration:none; 
}
#tag_set span:hover {
    border-radius:16px;
}

