body {
    font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;
    background:lightgray url('/static/noise.png');
}
body.entry {
    background:whitesmoke;
}
body.edit {
    background:whitesmoke;
}
hl {
    background-color:khaki;
}
tt {
    padding:0.1em 0.2em;
    background:white;
    border:1px solid silver;
    border-radius:4px;
}
#header {
    text-shadow:0px 1px 0px snow;
}
#footer, #footer a {
    color:#aaa;
    text-shadow:0px 1px 0px snow;
}
.entry_head #title {
    text-shadow:0px 1px 0px white; 
}
.entry_head #date {
    float:right;
    color:#999;
    text-shadow:0px 1px 0px white; 
}
.entry_foot {
    overflow:auto;
}
#entry_tags span { 
    margin:0;
    padding:0.2em 0.6em;
    border-radius:1em;
    color:#999;
}
#entry_tags a {
    color:#999;
}
#entry_tags span:hover a, #entry_tags span:hover i {
    color:white;
    text-decoration:none;
}
#entry_tags span:hover {
    background:indigo;
}
#entry_tags {
    line-height:1.6em;
}

/* ===================== LIST =============================== */

#entry_list { 
    font-weight:400; 
}
#entry_list i { 
    color:#444; 
}

/* ===================== TAG_SET ============================ */

#tag_set span { 
    color:silver;
}
#tag_set span a { 
    color:black; 
}
#tag_set span:hover {
    background:indigo;
}
#tag_set span:hover i { 
    color:whitesmoke; 
}
#tag_set span:hover a { 
    color:white; 
}

.feature {
    border:1px solid #ccc;
    background:whitesmoke;
}
.feature.tag_blob, .feature.latest {
    background:white;
}
.entry div.embed {
    border:1px solid silver;
    background:white;
}

#controls {
    background:lightgray;
}

table#confirm_destroy {
    border-collapse:collapse;
}
#confirm .input_row {
    background:lightgray;
}
#confirm .input_row td:first-of-type {
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
#confirm .input_row td:last-of-type {
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}