@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
body {
    font-family:"Open Sans", sans-serif; 
    background:lightgray url('/static/noise.png');
}
body.singleton {
    background:whitesmoke;
}
#header {
    text-shadow:0px 1px 0px snow;
}
.entry_head #title {
    text-shadow:0px 1px 0px white; 
}
.entry_head #date {
    float:right;
    color:#999;
    text-shadow:0px 1px 0px white; 
}
.tag, #entry_tags A { 
    color:#999;
    text-shadow:0px 1px 0px white; 
}
.tag:hover, #entry_tags A:hover {
    color:purple;
    text-shadow:2px 2px 0px white;
}
.entry_foot, #entry_tag { 
    color:darkgray; 
}

/* ===================== STREAM ============================= */

.entry.stream:hover {
    background:khaki;
}
.entry.stream:hover .entry_body {
    color:black;
}
.entry.stream .entry_body {
    border:1px solid silver;
    background-color:whitesmoke;
    color:#999;
}

/* ===================== LIST =============================== */

#entry_list { 
    font-weight:400; 
}
#entry_list i { 
    color:#444; 
}

/* ===================== TAG_SET ============================ */

#tag_set span { 
    color:silver; 
}
#tag_set span a { 
    color:black; 
}
#tag_set span:hover {
    background:-webkit-gradient(linear,left top,left bottom,from(thistle),to(indigo));
}
#tag_set span:hover i { 
    color:whitesmoke; 
}
#tag_set span:hover a { 
    color:white; 
}

