body {
    font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;
    background:lightgray url('/static/noise.png');
}
body.singleton {
    background:whitesmoke;
}
body.edit {
    background:whitesmoke;
}
pre.code { 
    margin:1em;
    padding:1em;
    border-radius:0.4em;
    background:black;
    color:lime;
}
hl {
    background-color:khaki;
}
tt {
    padding:0.2em;
    background:white;
    border:1px solid silver;
    border-radius:4px;
}
#header {
    text-shadow:0px 1px 0px snow;
}
.entry_head #title {
    text-shadow:0px 1px 0px white; 
}
.entry_head #date {
    float:right;
    color:#999;
    text-shadow:0px 1px 0px white; 
}
.tag, #entry_tags A { 
    color:#999;
}
.tag:hover, #entry_tags A:hover {
    color:purple;
}
.entry_foot, #entry_tag { 
    color:darkgray; 
}

/* ===================== LIST =============================== */

#entry_list { 
    font-weight:400; 
}
#entry_list i { 
    color:#444; 
}

/* ===================== TAG_SET ============================ */

#tag_set span { 
    color:silver; 
}
#tag_set span a { 
    color:black; 
}
#tag_set span:hover {
    background:indigo;
}
#tag_set span:hover i { 
    color:whitesmoke; 
}
#tag_set span:hover a { 
    color:white; 
}

.feature {
    border:1px solid #ccc;
    background:whitesmoke;
}
.feature.tag_blob {
    background:white;
}
.entry div.embed {
    border:1px solid silver;
    background:white;
}

#controls {
    background:lightgray;
}
