.art {
    overflow:auto;
}
.art img {
    width:320px;
    float:left;
    margin-right:1em;
}
.art.wide img {
    width:640px;
}
.blockflow {
    overflow:auto;
    margin-bottom:1em;
}
pre code {
    display:block;
    padding:1em;
    background:#333;
    color:white;
}
.quote {
    overflow:auto;
    padding:1em;
    font-family:Georgia;
    font-size:x-large;
    font-weight:100;
    background:#d3d3d3;
    border-radius:0.4em;
}
.entry_body img {
    max-width:100%;
}
.entry_body .cover, .entry_body .book {
    float:right;
    margin:0;
    padding:0;
    margin-left:2em;
    margin-bottom:1em;
    max-width:240px;
}
.entry_body .clipping {
    margin:0;
    padding:0;
    font-size:1.2em;
    text-align:justify;
    font-family:Georgia,Times,Serif;
}
.entry div.clear {
  clear:both;
}
.entry .clipping img {
    margin:0;
    float:right;
    margin-left:2em;
    margin-bottom:1em;
    max-width:240px;
}
.entry .didactic { /* museum placard (object label) */
    margin:0;
    padding:0;
    margin-top:-1em;
    font-style:italic;
    white-space:pre;
}
.entry .embed {
    width:320px;
}
.entry .inline_right {
    float:right;
    border:1px solid silver;
    border-radius:0.6em;
    background:white;
    padding:1em;
    margin:1.4em;
    margin-top:0.4em;
    width:240px;
    font-size:12px;
}
.entry .inline_right img {
    width:240px;
}
.entry .inline_left {
    float:left;
    margin-right:1em;
    margin-bottom:1em;
    width:180px;
    font-size:10px;
    text-align:center;
}
img.thumb {
    float:right;
    margin:0;
    margin-left:1em;
    margin-bottom:1em;
    max-width:120px;
}
img.portrait {
    float:right;
    width:240px;
    margin-left:1em;
    margin-bottom:1em;
}