/* div { border:1px solid magenta; } */
@media screen {
    body { 
        margin:0;
        padding:0;
        overlflow:none;
    }
    a { 
        text-decoration:none;
    }
    a:hover {
        text-decoration:underline;
    }
    .feature {
        margin:8px;
        padding:8px;
        border-radius:8px;
    }
    .feature li {
        font-size:smaller;
    }
    #tanuki-home {
    }
    #header, .octicon {
    }
    #content {
        width:80%;
        margin-left:auto;
        margin-right:auto;
	overflow:hidden;
	margin-bottom:32px;
    }
    #content_heading {
        margin-bottom:1em;
        text-align:center;
    }
    #content.gallery img {
        height:120px;
    }
    #content.list h3, #content.gallery h3 {
	text-align:center;
	margin-top:0;
    }
    #content.list ol {
        margin-left:5em;
    }
    form#edit input[type=text], form#edit textarea {
        width:100%;
        resize:none;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
    }
    #content.delete {
      width:50%;
    }
    #content.search {
	text-align:center;
    }
    #tag_set {
	margin-top:1em;
	text-align:center;
	line-height:1.6em;
	word-spacing:1em;
    }
    #tag_set .count {
        padding-left:0.2em;
	font-size:smaller;
	opacity:0.6;
    }
    #content.tags #tag_set {
	line-height:2em;
    }
    .help_eg {
        margin:1em;
        padding:1em;
        background:white;
        border:1px solid silver;
        white-space:pre;
    }
    .help_display {
        margin-bottom:4em;
        padding-left:1em;
        clear:both;
        border-left:4px solid #d3d3d3;
        overflow:auto;
    }
}

@media print {
    div#header, div#entry_heading {
	display:none;
    }
    div#content.entry {
	border:0;
        margin:0;
        padding:0;
        font-size:10pt;
	font-family:serif;
    }
}