/* div { border:1px solid magenta; } */
@media screen {
    body { 
        margin:0;
        padding:0;
        overlflow:none;
    }
    a { 
        text-decoration:none;
    }
    a:hover {
        text-decoration:underline;
    }
    .feature {
        border-radius:8px;
        margin:8px;
        float:left;
        width:47%;
        overflow:hidden;
    }
    .feature li {
        font-size:small;
    }
    #content {
        width:80%;
        margin-left:auto;
        margin-right:auto;
	overflow:hidden;
	margin-bottom:2em;
    }
    #content.gallery img {
        height:120px;
    }
    #content.list h3, #content.gallery h3 {
	text-align:center;
	margin-top:0;
    }
    #content.list ol {
        margin-left:5em;
    }
    form#edit input[type=text], form#edit textarea {
        width:100%;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
    }
    #content.delete {
      width:50%;
    }
    #content.search {
	text-align:center;
    }
    #content.tags h3 {
	text-align:center;
	margin-top:0;
    }
    #tag_set {
	margin-top:1em;
	text-align:center;
	line-height:1.6em;
	word-spacing:1em;
	/* text-align:justify; */
    }
    #tag_set .count {
	font-size:smaller;
	opacity:0.6;
    }
    .help_eg {
        margin:1em;
        padding:1em;
        background:white;
        border:1px solid silver;
        white-space:pre;
    }
    .help_display {
        margin-bottom:4em;
        padding-left:1em;
        clear:both;
        border-left:4px solid #d3d3d3;
        overflow:auto;
    }
}

@media print {
    body {
        font-size:10pt;
    }
    entry.text {
        margin:0;
        padding:0;
    }
}