/* div { border:1px solid magenta; } */
@media screen {

body { 
    margin:0;
    padding:0;
}
body.index {
    margin:1em;
}
body.entry {
    margin:32px;
}
body.help {
    margin:2em;
    margin-right:108px;
}
a { 
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
pre {
    overflow-y:hidden;
}

/* ===================== CONTENT ============================ */

#content {
    /* border:1px solid green; */
    margin:0 auto;
    padding:0;
}
#content.list {
    padding-right:2em;
    padding-left:2em;
}
#content.search, #content.match_gallery {
    padding:2em;
}
#content.match_gallery {
    margin-right:72px;
}
#content.match_gallery img {
    float:left;
    height:120px;
}
#content.tags {
    margin-left:16px;
    margin-right:96px;
    text-align:justify;
}
#header {
    margin:0;
    padding:0;
    margin-top:32px;
    padding-bottom:16px;
    text-align:center;
}
#footer {
    margin:16px;
    margin-bottom:32px;
}

.feature {
    border-radius:8px;
    margin:16px;
    padding:0;
    float:left;
    width:400px;
    height:240px;
    overflow:hidden;
}
.feature lh a {
    font-weight:bold;
}
.feature li {
    font-size:small;
}
.feature ul li:first-of-type {
    padding-top:0.6em;
}
.feature.tag_blob {
    border-radius:12px;
    overflow:auto;
    font-size:14px;
    padding:16px;
    width:368px;
    height:208px;
}

/* ===================== ENTRY ============================== */

.entry {
    margin-right:96px;
    margin-bottom:64px;
}
.entry_head {
    margin-bottom:1em;
    overflow:auto;
}
.entry_head #title {
    font-size:x-large;
    font-weight:bold;
}
.entry_head #date {
    float:right;
    margin-left:1em;
}
.entry_body {
    padding-top:0;
    padding-bottom:0;
}
.entry_body p:first-child { 
    margin-top:0;
    padding-top:0;
}
.entry_body p:last-child {
    margin-bottom:0;
    padding-bottom:0;
}
.entry_foot {
    margin:0;
    padding:0.4em 0;
}
#entry_tags {
    margin-top:1em;
    clear:both;
}
#entry_tags i { 
    font-style:normal; 
}

/* ===================== LIST =============================== */

#entry_list {
    margin-left:2em;
}
#entry_list ul {
    list-style-type:none;
}
#entry_list lh div {
    margin:0;
    padding:0;
    margin-top:1em;
    margin-bottom:0.4em;
    font-weight:bold;
}

/* ===================== CONTROLS =========================== */

#controls {
    /* border:1px solid red; */
    padding:1em;
    position:fixed;
    top:32px;
    right:32px;
    width:24px;
    border-radius:8px;
}
#controls img {
    padding-top:8px;
    width:24px;
    height:24px;
}
#controls a:first-child img { /* special for tanuki icon */
    /* border:1px solid green; */
    margin:0;
    padding:0;
    margin-top:-8px;
    margin-left:-8px;
    width:40px;
    height:40px;
}
#controls img {
    float:left;
}

#next_prev {
    margin:0;
    padding:0;
    position:fixed;
    bottom:8px;
    right:8px;
    width:48px;
}
#next_prev .btn {
    float:left;
}
.btn {
  margin:8px 0;
  padding:0;
  width:24px;
  height:24px;
}
div.btn:hover {
    cursor:pointer;
}

/* ===================== FORMS ============================== */

form#edit {
    margin-top:32px;
    margin-left:32px;
    margin-right:108px;
}
form#edit table { 
    width:100%;
}
form#edit input[type=text], form#edit textarea {
    width:100%; 
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
form#edit input#title {
  padding:8px;
  font-size:x-large; 
}
form#edit textarea#entry_text { 
  height:320px;
  font-family:Monaco;
  font-size:12px;
}
form#edit #date_box {
  font-size:12pt;
  width:7em;
}
form#edit #tags_box {
    width:100%;
    font-size:12pt;
}
#error_msg { 
    margin:2em; 
    font-size:x-large; 
}

#confirm {
    padding:64px;
}
#confirm table {
    margin:0 auto;
}
#confirm input { 
    font-size:larger; 
}

#search img {
    vertical-align:bottom;
}
#search input {
    font-size:16pt;
}

/* ===================== TAG_SET ============================ */

#tag_set {
    margin:2em;
    margin-top:0;
    line-height:3em;
}
.index #tag_set {
    margin:0;
    font-size:smaller;
}
#tag_set span {
  padding:4px;
}
#tag_set i { 
    padding:4px;
    font-style:normal;
}
#tag_set span a { 
    padding:4px;
    text-decoration:none; 
}
#tag_set span:hover {
    border-radius:16px;
}

.prettyprinted {
    padding:1em;
    border-radius:8px;
}
.prettyprinted:hover {
    background:black;
}

#playlist {
    clear:both;
}
#viewtube {
    float:right;
    margin-left:1em;
}


.help_eg {
    margin:1em;
    padding:1em;
    background:white;
    border:1px solid silver;
    white-space:pre;
}
.help_display {
    margin-bottom:4em;
    padding-left:1em;
    clear:both;
    border-left:4px solid #d3d3d3;
    overflow:auto;
}

#tanuki {
    position:fixed;
    top:320px;
    right:48px;
    font-size:24px;
    color:#d3d3d3;
    display:none;        
}

}

@media print {

body {
    font-size:10pt;
}
#tanuki, #controls {
    display:none;
}
entry.text {
    margin:0;
    padding:0;
}

}