{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}
<div id="content" class="capture">
  <p>Capture any web page, or just part of it:</p>
  <div id="capture_form">
    <form action="/edit_capture" method="POST">
      <input id="endpoint" type="text" name="endpoint"
       placeholder="URL" required style="width:50%"/>
      <select name="stype">
        <option value="css">CSS</option>
        <option value="xpath">XPath</option>
      </select>
      <input id="selector" type="text" name="selector"
      placeholder="selector" required style="width:25%" />
      <input id="save_btn" type="submit" value="Capture">
    </form>
  </div>

  <div style="margin-top:2em;background:white;padding:1em;border:1px
      solid silver;">
    <a href="https://github.com/siznax/frag2text"
       target="_blank"><i>frag2text</i></a> examples:

    <p>
    <table cellpadding=8 style="font-size:12px;border:1px solid silver">
      <tr>
        <th>
        <th>URL
        <th>stype
        <th>selector
      <tr>
        <td><b>A NYT Article</b>:
        <td>http://nyti.ms/17qJGw4
        <td>CSS
        <td>#article
      <tr>
        <td><b>A Wikipedia Infobox</b>:
        <td>http://en.wikipedia.org/wiki/Amanita
        <td>CSS
        <td>.infobox
      <tr>
        <td><b>A specific paragraph</b>:
        <td>http://en.wikipedia.org/wiki/Amanita
        <td>XPath
        <td>//p[13]
    </table>
  </div>
</form>
</div>

{% endblock %}
