{% extends "layout.html" %}
{% block body %}

<div id="content" class="confirm">

<form action="/delete" method="POST">
<input type="hidden" name="entry_id" value="{{ entry.id }}">
<table>

<tr>
<td colspan=2><h1>Really, Destroy?</h1>

<tr>
<td>ID:
<td>{{entry.id}}

<tr>
<td>Title:
<td><b>{{entry.title}}</b>

<tr>
<td>Updated:
<td>{{entry.updated}}

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>

<tr>
<td><input type="submit" value="DELETE">
<td><input type="button" onclick="history.back();" value="Cancel">

</table>
</form>

</div>

{% endblock %}

