{% extends "layout.html" %}
{%  block body %}

{% if controls %}<div id="controls">{{ controls|safe }}</div>{% endif %}

<div id="edit">

<form id="edit" action="/store" method="POST">

{% if entry.id %}
<input type="hidden" name="entry_id" value="{{ entry.id }}">
<input type="hidden" name="referrer" value="{{ referrer }}">
{% endif %}

<table id="edit">

<tr>
<td colspan=4><input type=text id="title" name="title" type="text" size="32"{% 
    if entry.title=='title' 
%} onfocus="this.value==this.defaultValue?this.value='':null"{% 
    endif 
%} value="{{ entry.title }}" required>

<tr>
<td colspan=4><textarea name="entry" id="entry_text"{% 
    if entry.text == 'text' 
%} onfocus="this.value==this.defaultValue?this.value='':null"
{% endif %} required>{{ entry.text|safe }}</textarea>

<tr>
<td><input id="date_box" type="text" name="date" value="{{ entry.date }}">
<td width="100%"><input id="tags_box" type="text" name="tags"{%   
    if entry.tags=='tags' 
%} onfocus="this.value==this.defaultValue?this.value='':null"{% 
    endif 
%} value="{{ entry.tags }}">
<td>
<input id="save_btn" type="submit" value="Save" onclick="return validate();">

</table>

</form>

</div>
{% endblock %}
