{% extends "layout.html" %}
{% block body %}

<div id="content">

{% if msg %}<div id="header">{{ msg|safe }}</div>{% endif %}

{% if controls %}<div id="controls">{{ controls|safe }}</div>{% endif %}

{% if next_prev %}<div id="next_prev">{{ next_prev|safe }}</div>{% endif %}

<div id="{{ entry.id }}" class="entry {{ entry.mediatype }} {{ path_class }}"
 onclick="window.location='/entry/{{entry.id}}'">
 <a name="entry{{ entry.id }}"></a>
 <div class="entry_head">
  <span id="title">{{ entry.title }}</span>
  <span id="date">{{ entry.date_str }}</span>
 </div>
 <div class="entry_body">{{ entry.text|safe }}</div>
 <div class="entry_foot">
  <div id="entry_tags">{{ entry.mediatype }} {% 
    for tag in entry.tags
%} <span class="tag"><i>#</i><a href="/tagged/{{ tag }}">{{tag}}</a></span> {% 
    endfor 
%}</div><!-- /entry_tags -->
 </div><!-- /entry_foot -->
</div><!-- /entry -->

{% if footer %}<div id="footer">{{ footer|safe }}</div>{% endif %}

</div><!-- /content -->

{% endblock %}
