{% include "layout.html" %}
{% block body %}

{% if msg %}<div id="header">{{ msg|safe }}</div>{% endif %}

{% if controls %}<div id="controls">{{ controls|safe }}</div>{% endif %}

{% if next_prev %}<div id="next_prev">{{ next_prev|safe }}</div>{% endif %}

<a name="{{ entry.id }}"></a>
<div id="{{ entry.id }}" class="entry {{ entry.mediatype }} {{ path_class }}">
<div class="entry_head">
<div id="date">{{ entry.date_str }}</div>
<div id="title">{% 
    if request.path.startswith("/help") 
%}♨ {% 
    endif 
%}{{ entry.title }}</div>
</div>
<div class="entry_body">{{ entry.text|safe }}</div>
<div class="entry_foot">
<div id="entry_tags">{% 
    for tag in entry.tags
%}<span class="tag"><i>#</i><a href="/tagged/{{ tag }}">{{tag}}</a></span> {% 
    endfor 
%}</div>
 </div>
</div>

{% if footer %}<div id="footer">{{ footer|safe }}</div>{% endif %}

{% endblock %}
