{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}

<div id="content" class="gallery">

<p>{% if not found %}
No images found in ({{entries|length()}}) entries.
{% else %}
Found in ({{found|length()}}) images in ({{entries|length()}}) entries.
{% endif %}</p>

{% set count = 1 %}
{% for entry in entries %}
  {% if entry.img %}
<a href="/entry/{{ entry.id }}"><img
 src="{{ entry.img }}" alt="{{ entry.title }}" title="{{ entry.title }}"></a>
  {% endif %}
{% set count = count + 1 %}
{% endfor %}

</div>

{% endblock %}
