{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}
<div id="content" class="gallery">

<div id="content_heading">
{% if images %}
{{entries|length()}} <a href="/tagged/{{tag}}">#{{tag}}</a>
| gallery ({{images|length()}})
{% else %}
No images found in ({{entries|length()}})
#<a href="/tagged/{{tag}}">{{tag}}</a> entries.
{% endif %}
</div>

<div style="text-align:center">
{% set count = 1 %}
{% for entry in entries %}
  {% if entry.img %}
<a href="/entry/{{ entry.id }}"><img
 src="{{ entry.img }}" alt="{{ entry.title }}" title="{{ entry.title }}"></a>
  {% endif %}
{% set count = count + 1 %}
{% endfor %}
</div>

</div>
{% endblock %}
