{% extends "layout.html" %}
{% block body %}
<div id="result_msg">{{ msg|safe }}</div>
<div id="grid" class="frame">{% 
  for entry in entries 
%}
<div class="{{ entry.mediatype }}" id="entry{{ entry.id }}">{%
  if entry.mediatype=='text' %}{% 
    if entry.img 
%}<a href="/entry/{{ entry.id }}"><img alt="{{ entry.title }}" 
 title="{{ entry.title }}" src="{{ entry.img }}"></a>{% 
    else 
%}<b><a href="/entry/{{ entry.id }}">{{ entry.title }}</a></b><p>{{ entry.text }}</p>{%
    endif %}{%
  elif entry.mediatype=='img'
%}{{ entry.text|safe }}{% 
  elif entry.mediatype=='video' 
%}<a href="/entry/{{entry.id}}">{{ entry.title }}</a><br />{{ entry.text|safe }}{%
  endif 
%}</div>
{% endfor %}
</div>
{% endblock %}
