<div id="header">

{% if request.path == '/' %} 
<span class="mega-octicon octicon-home"></span>
{% else %}
<a href="/" title="Home"><span class="mega-octicon octicon-home"></span></a>
{% endif %}

{% if not request.path.startswith('/help') %}

<a href="/tagged/pinned" title="Pinned entries">
  <span class="mega-octicon octicon-pin"></span></a>
<a href="/tagged/readme" title="README entries">
  <span class="mega-octicon octicon-book"></span></a>

{{status.entries}}
{% if request.path == '/list' %}
<span class="mega-octicon octicon-list-unordered"></span>
{% else %}
<a href="/list" title="List entries"><span
 class="mega-octicon octicon-list-unordered"></span></a>
{% endif %}

{{status.tags}}
{% if request.path == '/tags' %}
<span class="mega-octicon octicon-tag"></span>
{% else %}
<a href="/tags" title="Show tags"><span
 class="mega-octicon octicon-tag"></span></a>
{% endif %}

{% if status.notag %}
{{status.notag}}
{% if request.path == '/notag' %}
<span class="mega-octicon octicon-issue-opened"></span>
{% else %}
<a href="/notag" title="Show un-tagged"><span
 class="mega-octicon octicon-issue-opened"></span></a>
{% endif %}
{% endif %}

{% endif %}  <!-- not /help -->

{% if request.path == '/new' %}
<span class="mega-octicon octicon-file-text"></span>
{% else %}
<a href="/new" title="Create new entry"><span
 class="mega-octicon octicon-file-text"></span></a>
{% endif %}

{% if request.path == '/capture' %}
<span class="mega-octicon octicon-squirrel"></span>
{% else %}
<a href="/capture" title="NEW! Capture a web page."><span
 class="mega-octicon octicon-squirrel"></span></a> 
{% endif %}

{% if request.path.startswith('/entry') %}
<a href="/edit/{{entry.id}}"><span 
 class="mega-octicon octicon-pencil"></span></a>
<a href="/delete/{{entry.id}}"><span 
 class="mega-octicon octicon-trashcan"></span></a>
{% endif %}

{% if request.path == '/search' %}
<span class="mega-octicon octicon-search"></span>
{% else %}
<a href="/search" title="Search"><span
 class="mega-octicon octicon-search"></span></a>
{% endif %}

{% if request.path == '/help' %}
<span class="mega-octicon octicon-question"></span>
{% else %}
<a href="/help" title="Don't panic!"><span
 class="mega-octicon octicon-question"></span></a>
{% endif %}

</div>
