{% extends "layout.html" %}
{% block body %}

{% if controls %}<div id="controls">{{ controls|safe }}</div>{% endif %}

<h1>tanuki Help</h1>

<ol>
<li><a href="#01">Use Markdown</a></li>
<li><a href="#02">Include an image</a></li>
<li><a href="#03">Embed video or audio</a></li>
<li><a href="#04">Make a Youtube playlist</a></li>
<li><a href="#05">Make an image gallery</a></li>
<li><a href="#06">Embed a map</a></li>
<li><a href="#07">Pretty-print code</a></li>
</ol>

<br clear="both" />

<a name="01"><h3>1. Use Markdown</h3></a>

The body of each post can be Markdown text or HTML. See the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown documentation</a> for more info.

<div class=help_eg>### This is a heading

* this is a list
* _italic_ words
* *bold* words
* [link](http://example.com) to stuff

This is a new paragraph.

&lt;p&gt;HTML is &lt;i&gt;okay&lt;/i&gt; too.&lt;/p&gt;

</div>

<div class=help_display>
<h3>This is a heading</h3>
<ul>
<li>this is a list
<li><i>italic</i> words
<li><b>bold</b> words
<li><a href="http://example.com/">link</a> to stuff
</ul>
<p>This is a new paragraph.
<p>HTML is <i>okay</i> too.</p>
</div>

<a name="02"><h3>2. Include an image</h3></a>

Start your post with an image URL or use the <tt>&lt;img&gt;</tt> tag.

<div class=help_eg>http://artrelatedblog.files.wordpress.com/2012/08/tanukiavatar2h.png

Tanuki pixel art courtesy of 
[cavepainter](http://artrelatedblog.wordpress.com/2012/08/06/new-pixel-art-avatar/).
</div>

<div class=help_display>
<img src="http://artrelatedblog.files.wordpress.com/2012/08/tanukiavatar2h.png">

<p>Tanuki pixel art courtesy of <a href="http://artrelatedblog.wordpress.com/2012/08/06/new-pixel-art-avatar/">cavepainter</a>.
</div>

<a name="03"><h3>3. Embed video or audio</h3></a>

Copy the "embed code" from your favorite source.

<div class=help_eg>&lt;iframe width="560" height="315" 
 src="http://www.youtube.com/embed/9bZkp7q19f0" 
 frameborder="0" allowfullscreen&gt;</iframe>
</div>

<div class=help_display>
<iframe width="560" height="315" 
 src="http://www.youtube.com/embed/9bZkp7q19f0" 
 frameborder="0" allowfullscreen></iframe>
</div>

<a name="04"><h3>6. Make a Youtube playlist</h3></a>

Make a div with <tt>class="playlist"</tt> and populate it with anchors
having <tt>id="YOUTUBE"</tt>, where YOUTUBE is the video identifier
from YouTube. A <tt>#viewport</tt> div will be created that will
switch to the video last clicked.

<div class=help_eg>&lt;div id=my_playlist class=playlist&gt;

* &lt;a href=# id=QTk688cXTsA&gt;Capybara Onsen&lt;/a&gt;
* &lt;a href=# id=r-qhj3sJ5qs&gt;WORLD ORDER: Machine Civilization&lt;/a&gt;
* &lt;a href=# id=itvJybdcYbI&gt;He-Man, What's Going On?&lt;/a&gt;

&lt;/div&gt;
</div>

<div class=help_display>

<div id=my_playlist class=playlist>
<ul>
<li><a href=# id=QTk688cXTsA>Capybara Onsen</a>
<li><a href=# id=r-qhj3sJ5qs>WORLD ORDER: Machine Civilization</a>
<li><a href=# id=itvJybdcYbI>He-Man, What's Going On?</a>
</ul>
</div>

</div>

<br clear="both" />
<br clear="both" />

<a name="05"><h3>5. Make an image gallery</h3></a>

Add a new <tt>div</tt> with <tt>class=galleryjs</tt> and fill it with 
<tt>img</tt> tags. Click an image to have it fill the window in 
a lightbox.

<?prettyprint?>
<pre class=prettyprint>
&lt;div class=galleryjs&gt;
&lt;img src="http://data.ukiyo-e.org/mfa/scaled/sc208694.jpg"&gt;
&lt;/div&gt;
</pre>

<div class=help_display>
<div id=help_gallery class=galleryjs>
<img src="http://data.ukiyo-e.org/mfa/scaled/sc208694.jpg">
<img src="http://data.ukiyo-e.org/famsf/scaled/5050161219920071.jpg">
<img src="http://data.ukiyo-e.org/honolulu/scaled/4854.jpg">
<img src="http://data.ukiyo-e.org/kruml/scaled/landscapes213.jpg">
<img src="http://data.ukiyo-e.org/met/scaled/DP122152.jpg">
<img src="http://data.ukiyo-e.org/mfa/scaled/sc231939.jpg">
<img src="http://data.ukiyo-e.org/met/scaled/DP122184.jpg">
</div>
</div>

<a name="05"><h3>5. Embed a map</h3></a>

Add a <a href="http://leafletjs.com/">Leaflet JS</a> map div
(specify <tt>class="leafletjs"</tt>, <tt>lat="latitude"</tt>, <tt>lon="longitude"</tt>,
and <tt>zoom="level"</tt>) or embed a map
from <a href="http://openstreetmap.org/">Open Street Map</a>, or
Google. 

<div class=help_eg>&lt;div id="shiodome_station" class="leafletjs" 
 lat="35.6625424" lon="139.759645" zoom="13"
 style="height:320px;"&gt;</div>

<div class=help_display>
<div id="shiodome_station" class="leafletjs" 
 lat="35.6625424" lon="139.759645" zoom="13"
 style="height:320px;"></div>
</div>

<a name="07"><h3>7. Pretty-print code</h3></a>

<div class=help_eg>&lt;pre class=prettyprint&gt;
#!/usr/bin/python
if __name__=="__main__":
    print "hello, world."
&lt;/pre&gt;</div>

<div class=help_display>
<pre class=prettyprint>#!/usr/bin/python
if __name__=="__main__":
    print "hello, world."
</pre>
</div>

If you want HTML tags to appear properly, you have to tell Markdown that it's a code block with a preprocessor directive and extra spaces.

<div class=help_eg>&lt;?prettyprint?&gt;
&lt;pre class=prettyprint&gt;

     &lt;!doctype html&gt;
     &lt;head&gt;&lt;title&gt;hello&lt;/title&gt;&lt;/head&gt;
     &lt;body&gt;hello&lt;/body&gt;

&lt;/pre&gt;</div>

<div class=help_display>
<?prettyprint?>
<pre class=prettyprint>

     &lt;!doctype html&gt;
     &lt;head&gt;&lt;title&gt;hello&lt;/title&gt;&lt;/head&gt;
     &lt;body&gt;hello&lt;/body&gt;

</pre>
</div>

{% endblock %}
