{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}

<div id="content" class="index">

<div id="features" style="margin:auto;max-width:720px;">

<div class=feature_cell_left>
  <div id="latest" class=feature>
    <ul>
      <lh>&#x26c5; <b>latest ({{latest|length()}})</b> <a href="/updates"><b>updates</b></a>
        {% if latest %}
        {% for entry in latest %}
        <li><a href="/entry/{{entry.id}}">{{entry.title}}</a>
        {% endfor %}
        {% else %}
        <li>Latest entries will be listed here.
        {% endif %}
    </ul>
  </div>
</div>

<div class=feature_cell_right>
  <div id="todo" class=feature>
    <ul>
      <lh>&#x2615; <a href="/tagged/todo"><b>TODO</b></a> ({{todo|length()}})
        {% if todo %}
        {% for entry in todo[:10] %}
        <li><a href="/entry/{{entry.id}}">{{entry.title}}</a>
        {% endfor %}
        {% else %}
        <li>Entries tagged "todo" will be listed here.
        {% endif %}
    </ul>
  </div>
</div>

<div style="clear:both"></div>

<div class=feature_cell_left>
  <div id="readme" class=feature>
    <ul>
      <lh>&#x1f4d6; <a href="/tagged/readme"><b>readme</b></a> ({{readme|length()}})
        {% if readme %}
        {% for entry in readme[:10] %}
        <li><a href="/entry/{{entry.id}}">{{entry.title}}</a>
        {% endfor %}
        {% else %}
        <li>Entries tagged "readme" will be listed here.
        {% endif %}
    </ul>
  </div>
</div>

<div class=feature_cell_right>
  <div id="pinned" class=feature>
    <ul>
      <lh>&#x1f4cc; <a href="/tagged/pinned"><b>pinned</b></a> ({{pinned|length()}})
        {% if pinned %}
        {% for entry in pinned[:10] %}
        <li><a href="/entry/{{entry.id}}">{{entry.title}}</a>
        {% endfor %}
        {% else %}
        <li>Entries tagged "pinned" will be listed here.
        {% endif %}
    </ul>
  </div>
</div>

{% if tag_set %}<div style="clear:both;padding:0.4em;"></div>{% endif %}

</div>

{% include "tag_set.html" %}

<div style="clear:both;padding:1em;"></div>

<div align=center>
<a target="_blank" href="https://github.com/siznax/tanuki/"><span
 title="Fork me on GitHub"
 class="octicon octicon-mark-github"></span></a>
</div>

</div>

{% endblock %}
