{% extends "layout.html" %}
{% block body %}

{% if msg %}
<div align="center" id="result_msg">
{{ msg|safe }}
{% if not entries and not tag_set and request.path=='/' %}
<input type="button" value="new" id="new_btn" onclick="window.location='/new'">
{% endif %}
</div>
{% endif %}

{% if tag_set %}
<div id="tag_set" align="center">
{% for tag in tag_set %}
<span><i>{{ tag['count'] }}</i><a 
 href="/tagged/{{ tag['name'] }}">{{ tag['name'] }}</a></span>
{% endfor %}
</div>
{% endif %}

{% if entries|count() > 1 and '/page' not in request.path %}
<div id="entry_list">
<ol start="{{ start }}">
{% for entry in entries %}
{% if '/list' in request.path %}
<li><a href="entry/{{ entry.id }}">{{ entry.title }}</a></li>
{% else %}
<li><a href="#entry{{ entry.id }}">{{ entry.title }}</a></li>
{% endif %}
{% endfor %}
</ol>
</div>
{% endif %}

{% if '/list' not in request.path %}

<div id="entries" align="center">

{% for entry in entries %}

<a name="entry{{ entry.id }}"></a>

<div class="entry_head">

<table>
<tr>
<td id="date">
<div id="date"><a href="/dated/{{ entry.date }}">{{ entry.date_str }}</a></div>
</td>

<td id="title" align="center">
{% if entries|count() == 1 %}
<div id="title">{{ entry.title }}</div>
{% else %}
<div id="title"><a href="/entry/{{ entry.id }}">{{ entry.title }}</a></div>
{% endif %}
</td>

<td align="right">

<div id="controls">
<a href="/confirm/{{ entry.id }}"><img src="/static/delete.png"></a>
<a href="/edit/{{ entry.id }}"><img src="/static/edit.png"></a>
<a href="/new"><img src="/static/new.png"></a>
{% if entries|count() == 1 %}
<a href="/"><img src="/static/home.png"></a>
{% endif %}
</div>

</td>
</tr>
</table>

</div>

<div class="entry_body">{{ entry.text|safe }}<br clear="all" /></div>

<div class="entry_foot">
<span id="tags">
{% for tag in entry.tags %}
<span id="tag"><a href="/tagged/{{ tag }}"># {{tag}}</a></span>
{% endfor %}
</span>
<a href="/cloud"><img id="cloud" alt="cloud" src="/static/tag.png"></a>
</div>

{% endfor %}

{% endif %}

</div><!-- /#entries -->

{% endblock %}
