<!doctype html>
<head>
<meta charset="UTF-8">
<title>タヌキ {{ title }}</title>
<link rel="stylesheet" type="text/css" href="/static/color.css" />
<link rel="stylesheet" type="text/css"
 href="{{bower_url_for('octicons', 'octicons/octicons.css')}}">
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script src="{{bower_url_for('jquery', 'dist/jquery.min.js')}}"></script>

{% if entry %}
<link rel="stylesheet" type="text/css" href="/static/entries.css" />
<link rel="stylesheet" type="text/css"
 href="{{bower_url_for('gallery-js', 'gallery.css')}}" />
<script src="{{bower_url_for('gallery-js', 'gallery.js')}}"></script>
<link rel="stylesheet" type="text/css"
 href="{{bower_url_for('google-code-prettify', 'styles/sunburst.css')}}" />
<script src="{{bower_url_for('google-code-prettify', 'src/prettify.js')}}"></script>
<script src="/static/tanuki.js"></script>
{% endif %}

<link rel="stylesheet" type="text/css" href="/static/custom.css" />

</head>
{% if entry %}
<body onload="prettyPrint()">
{% else %}
<body>
{% endif %}
{% block body %}
{% endblock %}
</body>
