<!doctype html>
<head>
<meta charset="UTF-8">
<title>タヌキ {{ title }}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/special.css" />
<link rel="stylesheet" type="text/css" href="/static/color.css" />
<link rel="stylesheet" type="text/css" href="/static/octicons/octicons.css">
<script src="/static/jquery.js"></script>
{% if entry %}
<link rel="stylesheet" type="text/css" href="/static/gallery.css" />
<link rel="stylesheet" type="text/css" href="/static/prettify/sunburst.css" />
<script src="/static/tanuki.js"></script>
<script src="/static/gallery.js"></script>
<script src="/static/prettify/prettify.js"></script>
{% endif %}
</head>
{% if entry %}
<body onload="prettyPrint()">
{% else %}
<body>
{% endif %}
{% block body %}
{% endblock %}
</body>
