<!doctype html>
<head>
<meta charset="UTF-8">
{% if "tanuki.siznax.net" in request.host %}
<title>{% if title %}{{ title }}{% else %}tanuki タヌキ {{config['TITLE']}}{% endif %}</title>
{% else %}
<title>{% if title %}{{ title }}{% else %}tanuki タヌキ{% endif %}</title>
{% endif %}
<link id="layout" rel="stylesheet" href="/static/style.css">
<link id="layout" rel="stylesheet" href="/static/special.css">
<link id="color" rel="stylesheet" href="/static/light.css">
<script src="/static/jquery.js"></script> 
<script src="/static/tanuki.js"></script>
{% 
    if not request.path.startswith('/edit') and entry and "galleryjs" in entry.text 
%}<script src="/static/gallery.js"></script>
<link rel="stylesheet" href="/static/gallery.css" />
{%
    endif 
%}{% 
    if not request.path.startswith('/edit') and entry and "leafletjs" in entry.text 
%}<div id="leafletjs_api_key" key="{{ config['CLOUDMADE'] }}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<script  src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>{% 
    endif 
%}{% 
    if not request.path.startswith('/edit') and entry and "prettyprint" in entry.text 
%}<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>{%
    endif 
%}</head>
<body{% if body_class %} class="{{body_class}}"{% endif %}>
<div id="tanuki">タ<br>ヌ<br>キ</div>
{% block body %}
{% endblock %}
</body>

