{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}

<div id="content" class="list">

{% if entries %}

<div id="content_heading">
{% if tag %}#{{tag}} ({{entries|length()}}) 
&mdash; <a href="/gallery/{{tag}}">Gallery</a>{% endif %}
{% if notag %}({{entries|length()}}) entries not tagged{% endif %}
{% if terms %}found ({{entries|length()}}) matching "{{terms}}"{% endif %}
{% if mediatype %}found ({{entries|length()}}) with <i>{{mediatype}}</i> media{% endif %}
{% if request.path=='/list' %}
  ({{entries|length()}}) entries by date <i>created</i>
{% endif %}
{% if request.path=='/updates' %}
  ({{entries|length()}}) entries by date <i>updated</i>
{% endif %}
</div>

<div align=center class="listing">
<table>
{% if not sortby %}
<tr>
  <th>Title
  <th>Created
  <th>Updated
  <th><a href="/media">Media</a>
{% endif %}
{% for entry in entries %}
    {% if sortby and not entry.month == last_month %}
<tr class=heading>
  {% if entry.month and entry.year %}
  <td><b>{{entry.month}} {{entry.year}}</b>
  {% else %}
  <td>
  {% endif %}
  <td>{% if not sortby or sortby=='created' %}<i>Created</i>
      {% else %}<a href="/list">Created</a>{% endif %}
  <td>{% if sortby=='updated' %}<i>Updated</i>
      {% else %}<a href="/updates">Updated</a>{% endif %}
  <td><a href="/media">Media</a>
{% endif %}
<tr class=entry>
  <td><a href="/entry/{{entry.id}}">{{entry.title}}</a>
  <td class=date>{{entry.date_str}}
  <td class=date>{{entry.updated}}
  <td class=media>{{entry.media|safe}}
{% set last_month = entry.month %}
{% endfor %}
</table>
</div>

{% else %}

<div align=center style="margin:2em;font-size:larger;">
{% if terms %}No entries found matching "{{terms}}".{% endif %}
{% if tag %}No entries tagged "{{tag}}".{% endif %}
</div>

{% endif %}

</div>

{% endblock %}
