{% extends "layout.html" %}
{% block body %}
{% include "header.html" %}

<div id="content" class="list">

<div id="content_heading">
{% if tag %}#{{tag}} ({{entries|length()}}) 
<a href="/gallery/{{tag}}"><span 
 class="octicon octicon-file-media"
 style="margin-left:16px;"></span></a>
{% elif notag %}({{entries|length()}}) not tagged
{% else %}({{entries|length()}}) entries by date created
{% endif %}
</div>

<style type="text/css" media="screen">
#content.list table {
  border-collapse:collapse;
  margin:1em;
}
#content.list table th {
  text-align:left;
  padding-top:1em;
}
#content.list table td {
  padding:0.4em;
}
</style>

<table>
{% for entry in entries %}
{% if not entry.month == last_month %}
  <tr>
    <th>{{entry.month}} {{entry.year}}
    <th>&nbsp;
{% endif %}
<tr>
  <td style="font-size:smaller;text-align:right;opacity:0.5">{{entry.date_str}}
  <td><a href="/entry/{{entry.id}}">{{entry.title}}</a>
{% set last_month = entry.month %}
{% endfor %}
</table>

</div>

{% endblock %}
