{% extends "layout.html" %}
{% block body %}

<div id="content" class="search">

{% if controls %}<div id="controls">{{ controls|safe }}</div>{% endif %}

<div id="search" align="center">

<form action="/matched" method="GET">
<a href="http://artrelatedblog.wordpress.com/2012/08/06/new-pixel-art-avatar/"><img alt="http://artrelatedblog.wordpress.com/"
 title="http://artrelatedblog.wordpress.com/"
 src="/static/tanuki.png"></a>
<input type="text" name="terms">
<input type="submit" value="Search">
</form>

</div>

</div>

{% endblock %}

